.interledger-summit {
  section {
    padding: 40px 0;
  }
}

.interledger-summit-code-of-conduct, .interledger-summit-covid-policy {
  #pageContent section {
    padding: 180px 0;
  }
}

.interledger-summit-schedule {
  #pageContent section {
    padding: 145px 0;
  }
}

.interledger-summit-speakers {
  #pageContent #speakers-list {
    padding: 0;
  }

  #pageContent #speakers {
    padding: 180px 0 0 0;

    .col-lg-6 {
      animation-duration: 1s;
      animation-name: slideinleft;
    }

    .col-lg-5 {
      animation-duration: 1s;
      animation-name: slideinright;
    }
  }
}

#livestream {
  padding-top: 180px;
}

#livestreams {
  .col-lg-6 {
    animation-duration: 1s;
    animation-name: slideinleft;
  }

  .col-lg-5 {
    animation-duration: 1s;
    animation-name: slideinright;
  }
}

#summitHero {
  background: $white;
  .col-lg-6 {
    animation-duration: 1s;
    animation-name: slideinleft;
  }

  .col-lg-5 {
    animation-duration: 1s;
    animation-name: slideinright;
  }

  h1 {
    font-size: 3.5rem;
  }
  .location {
    font-size: 2.5rem;
  }
  .date {
    font-size: 2.33rem;
  }
  .social {
    font-size: 1.8rem;
  }
}

#scroll {
  background-color: $pink;
  height: 83px;
  padding-top: 0 !important;
  padding-bottom: 30px !important;
}

#location {
  padding-bottom: 0 !important;
  padding-top: 60px;
}

@keyframes slideinleft {
  from {
    position: relative;
    right: -100%;
  }

  to {
    position: relative;
    right: 0;
  }
}

@keyframes slideinright {
  from {
    position: relative;
    left: -100%;
  }

  to {
    position: relative;
    left: 0;
  }
}
