#summitHero {
  background: $white;
  background: linear-gradient(90deg, $white 52%, $blue-400 52%);
  h1 {
    font-size: 3.5rem;
  }
  .location {
    font-size: 2.5rem
  }
  .date {
    font-size: 2.33rem
  }
  .social {
    font-size: 1.8rem
  }
}

@media (max-width: 991px) {
  #summitHero {
    background: linear-gradient(180deg, $white 60%, $blue-400 60%);
  }
}
@media (max-width: 768px) {
  #summitHero {
    background: linear-gradient(180deg, $blue-400 15%, $white 15%);
  }
}
