<div class="d-none d-lg-block">
<h1 class="h3 mb-n1">Resources</h1>
<ul class="devtool-nav mt-4">
  <li class="nav-item">
    <a class="nav-link active" href="/developer-tools/resources/">ILP Summit Videos</a>
  </li>
  {% for resource in page.resources %}
  <li class="nav-item">
    <a class="nav-link " href="{{ resource.resource_url}}" target="_blank">{{ resource.name }}</a>
  </li>
  {% endfor %}
</ul>
</div>
<div class="accordion d-lg-none d-flex" id="accordionDev">
  <div class="accordion-item">
    <h2 class="accordion-header" id="devNavAccordion">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#devNavMobile" aria-expanded="true" aria-controls="devNavMobile">
        Resources
      </button>
    </h2>
    <div id="devNavMobile" class="accordion-collapse collapse " aria-labelledby="devNavAccordion" data-bs-parent="#accordionDev">
      <div class="accordion-body">
        <ul class="nav  flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="/developer-tools/resources/">ILP Summit Videos</a>
          </li>
          {% for resource in page.resources %}
          <li class="nav-item">
            <a class="nav-link " href="{{ resource.resource_url}}" target="_blank">{{ resource.name }}</a>
          </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
</div>