<section class="bg-blue-300 position-relative" id="contactFlourish">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-purple text-center text-md-start">Contact Us</h1>
      </div>
      <div class="col-12">
<div class="cognito">
<script src="https://www.cognitoforms.com/s/3e45hCUaSUSH2Oi0prtfLQ"></script>
<script>Cognito.load("forms", { id: "1" });</script>
</div>
        <!--<div class="cognito">-->
        <!--  <script src="https://www.cognitoforms.com/s/bbN8iw1MJUqjPe6aHn-_rw"></script>-->
        <!--  <script>Cognito.load("forms", { id: "90" });</script>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</section>