---
layout: page
title: About Us
our_people:
  team_members:
    - briana-marbury
    - chris-lawrence
    - erika-drushka
board:
  team_members:
    - stefan-thomas
    - chris-larsen
    - konstantin-peric
    - maha-bahou
    - evan-schwartz
    - briana-marbury
officers:
  chairperson:
    team_member: stefan-thomas
  president:
    team_member: evan-schwartz
  executive_director:
    team_member: briana-marbury
  treasurer:
    team_member: gary-morris
funders:
  - name: Coil
    logo_image: /img/about-us/coil-technologies-vector-logo.svg
  - name: Ripple
    logo_image: /img/about-us/ripple-logo.svg
---

<section id="aboutHero" class="position-relative">
  <div class="container">
    <div class="row centered justify-content-start">
      <div class="col-12 col-md-4 ">


        <h1 class="text-primary h3 editable">
          About Us
        </h1>
        <h2 class="text-green text-uppercase h1 editable">
          Our Mission
        </h2>
        <p class="text-large editable">
          The Interledger Foundation is a non-profit advocate for the web, promoting innovation, creativity, and inclusion by advancing open payment standards and technologies that seamlessly connect our global society.
        </p>


      </div>
      <div class="col-12 col-md-7 p-5" id="aboutUsHeroIllustration">
        <img src="/img/about-us/header-photo.webp" class="img-fluid photo-border-green  m-md-5 mb-5 mb-md-0" alt="Two people using mobile phones to exchange information" />
      </div>
    </div>
  </div>
</section>
<section class="bg-blue-100">
  <div class="container">
    <div class="row centered">
      <div class="col-12 col-lg-9">
        <div class="row px-md-3 px-lg-5">
          <div class="col-12 text-center mb-4">
            <h1 class="h3 text-green">We Believe</h1>
          </div>
          <div class="col-12 col-md-6">
            <div class="card h-100   text-center centered ">
              <img class="img-fluid card-icon mx-auto" src="/img/about-us/monetaryexchange-icon.svg" alt="Exchange Icon" />
              <p class="px-4 editable">
                Monetary interaction should be as easy as information exchange.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 mt-4 mt-md-0">
            <div class="card h-100   text-center centered ">
              <img class="img-fluid card-icon mx-auto" src="/img/about-us/transfer-icon.svg" alt="Transfer Icon" />
              <p class="px-4 editable">
                Humans should be able to transfer their money with each other without any barriers or friction.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 mt-4">
            <div class="card h-100   text-center centered ">
              <img class="img-fluid card-icon mx-auto" src="/img/about-us/equitableaccess-icon.svg" alt="Access Icon" />
              <p class="px-4 editable">
                The unbanked and underbanked should have equitable access.
              </p>
            </div>
          </div>
          <div class="col-12 col-md-6 mt-4">
            <div class="card h-100   text-center centered ">
              <img class="img-fluid card-icon mx-auto" src="/img/about-us/creators-icon.svg" alt="Creators Icon" />
              <p class="px-4 editable">
                Content creators and digital innovators should be fairly compensated.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-3   mt-5 mt-lg-0 text-center text-largepx-4">
        <p class="editable">
          All of the work we do is to connect and benefit each and every human, regardless of identity, geography, or income.
        </p>
        <p class="mt-4  editable ">
          <strong> In short, we believe connecting all currencies is connecting all of humanity. </strong>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="d-md-none py-0" id="diversityMobileWrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <img class="img-fluid  py-4 " src="/img/about-us/dei.webp" alt="Two women using a laptop" />
      </div>
    </div>
  </div>
</section>

<section class="fullwidth-img-section centered">
  <div class="halfwidth-img d-none d-md-flex" style="background-image: url(/img/about-us/dei.webp);"></div>
  <div class="container">
    <div class="row centered justify-content-end">
      <div class="col-12 col-md-6   text-center text-md-start" id="deiShapes">
        <h1 class="text-primary h2 editable">
          Diversity, Equity, and Inclusion
        </h1>
        <div class="editable">
          <p>We are committed to building fair and equitable pathways to financial access. And all of the work we do is to connect and benefit each and every human, regardless of identity, geography, or income.</p>
          <p>Financial exclusion and scarcity have often been a tool for oppression, discrimination, and systemic inequity. The Interledger Foundation is committed to building financial systems to include voices that have been traditionally excluded. Our extraordinarily ambitious goal is to decentralize power, privilege, and financial control.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary">
  <div class="container">

    <div class="row my-lg-5">
      <div class="col-12 text-white text-center ">
        <h1 class="h2 text-uppercase editable">
          Our People
        </h1>
      </div>
      {% for slug in page.our_people.team_members %}
      {% assign member = site.team_members | where: 'slug', slug | first %}
      <div class="col-12 col-md-4 text-center mb-5">
        <img src="{{ member.photo_image }}" class="img-fluid team-photo p-5 p-md-5" alt="{{ member.name }} headshot" />
        <h4 class="text-white text-bold    mt-n4 mt-lg-n3 mb-0">{{ member.name }}</h4>
        <p class=" text-white   mb-2">{{ member.role }}</p>
        <button type="button" class="button button-outline button-outline-white" data-bs-toggle="modal" data-bs-target="#{{ member.name | slugify }}Modal">
          Read Bio
        </button>
      </div>
      <div class="modal fade" id="{{ member.name | slugify }}Modal" tabindex="-1" aria-labelledby="{{ member.name | slugify }}ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered ">
          <div class="modal-content  bg-gray p-3">
            <div class="modal-header pt-3 mb-n4">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
              <div class="container px-0 px-lg-5">
                <div class="row">
                  <div class="col-12 col-lg-4">
                    <img src="{{ member.photo_image }}" class="img-fluid team-photo" alt="{{ member.name }} headshot" />
                  </div>
                  <div class="col-12 col-lg-8">
                    <p class="h2 text-primary text-bold">{{ member.name }}</p>
                    <p class="h2 text-primary text-thin">{{ member.role }}</p>

                    <div class="bio-social">
                      {% if member.linkedin_link %}
                      <a href="{{ member.linkedin_link }}" target="_blank">
                        <img src="/img/about-us/follow-linkedin.svg" alt="{{ member.name }} on LinkedIn" />
                      </a>
                      {% endif %}
                      {% if member.twitter_link %}
                      <a href="{{ member.twitter_link }}" target="_blank">
                        <img src="/img/about-us/follow-twitter.svg" alt="{{ member.name }} on Twitter" />
                      </a>
                      {% endif %}
                    </div>
                    <p class="mt-4">{{ member.bio_text }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="bg-primary pt-0">
  <div class="container">
    <div class="row py-5 justify-content-center">
            <div class="col-12 text-white text-center ">
              <h2 class="h2 text-uppercase editable">
                Board of Directors
              </h2>
            </div>
      {% for slug in page.board.team_members %}
      {% assign board = site.team_members | where: 'slug', slug | first %}
      <div class="col-12 col-md-3 text-center text-white mt-3">
        <h4>{{ board.name }}</h4>
        <p>{{ board.role }}</p>
      </div>
      {% endfor %}

    </div>




    <div class="row py-5 justify-content-center">
      <div class="col-12 text-white text-center ">
        <h1 class="h2 text-uppercase editable">
          Officers
        </h1>
      </div>

      <div class="col-12 col-md-3 text-center text-white mt-3">
        <h3>Chairperson</h3>
        {% for slug in page.officers.chairperson.team_member %}
        {% assign board = site.team_members | where: 'slug', slug | first %}
        <h4>{{ board.name }}</h4>
        <p>{{ board.role }}</p>
        {% endfor %}
      </div>
      <div class="col-12 col-md-3 text-center text-white mt-3">
        <h3>President</h3>
        {% for slug in page.officers.president.team_member %}
        {% assign board = site.team_members | where: 'slug', slug | first %}
        <h4>{{ board.name }}</h4>
        <p>{{ board.role }}</p>
        {% endfor %}
      </div>
      <div class="col-12 col-md-3 text-center text-white mt-3">
        <h3>Executive Director</h3>
        {% for slug in page.officers.executive_director.team_member %}
        {% assign board = site.team_members | where: 'slug', slug | first %}
        <h4>{{ board.name }}</h4>
        <p>{{ board.role }}</p>
        {% endfor %}
      </div>
      <div class="col-12 col-md-3 text-center text-white mt-3">
        <h3>Treasurer</h3>
        {% for slug in page.officers.treasurer.team_member %}
        {% assign board = site.team_members | where: 'slug', slug | first %}
        <h4>{{ board.name }}</h4>
        <p>{{ board.role }}</p>
        {% endfor %}
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center ">
        <h1 class="text-green h2 text-uppercase editable">
          Our Funders
        </h1>
      </div>
    </div>
    <div class="row centered">
      {% for funder in page.funders %}
      <div class="col-12 col-md-3 text-center">
        <img src="{{ funder.logo_image }}" class="img-fluid" alt="{{ funder.name }}" />
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="bg-green-fade fullwidth-img-section centered">
  <div class="halfwidth-img d-none d-md-flex" style="background-image: url(/img/about-us/careers-image.webp);"></div>
  <div class="container my-5">
    <div class="row centered justify-content-end">
      <div class="col-12 col-md-6  text-center text-md-start">
        <h1 class="text-uppercase h2 text-green mb-4 ">Careers</h1>
        <h2 class="editable">
          Join us in building a universal payment network that puts humanity first.
        </h2>
        <img class="img-fluid d-md-none py-4 " src="/img/about-us/careers-image.webp" alt="Two women using a laptop" />
        <p class=" editable">
          We&rsquo;re always eager to hear from prospective candidates who share our ambition and vision for the future.
        </p>
        <a href="mailto:careers@interledger.org" target="_blank" class="text-underline text-large text-primary text-semi editable">Send your resume and cover letter to careers@interledger.org</a>
      </div>
    </div>
  </div>
</section>
