<!DOCTYPE html>
<html>
{% include head.html %}

<body class="{{ page.layout }}">
  {% include header.html %}
  <main id="pageContent">
    <section class="pt-5">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1 class="text-primary text-uppercase text-bold">Case Study <span class="text-thin">{{ page.name }}</span></h1>
          </div>
        </div>
        <div class="row casestudy-header my-4" style="background-image: url('{{ page.featured_image }}'); ">
        </div>
        <div class="row mt-5">
          <div class="col-12 col-md-5 col-lg-4 mb-4 mb-md-0">
            <h2 class="text-hero">{{ page.title }}</h2>
            {% if page.subtitle %}
            <h3 class="h3 text-thin">{{ page.subtitle }}</h3>
            {% endif %}
            <div class="mt-5 ">
            </div>
          </div>
          <div class="col-12 col-md-7 col-lg-8 ps-md-5">
            <p><strong>
                {{ page.featured_text }}
              </strong></p>
            {{ page.write_up_html }}
            <a href="{{page.learn_more_link }}" target="_blank" class="button button-outline">Learn More about {{ page.name }}</a>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>