// TODO form outline color
// TODO topic choices
#contactFlourish {
  &::before {
    content: "";
    position: absolute;
    height: 133px;
    width: 87px;
    bottom: 13%;
    right: 89%;
    background-image: url(/img/shapes/shapes-2.svg);
    background-size: cover;
  }
}

.c-forms-form-main {
  .c-field {
    .c-label {
      font-weight: 600;
      margin-bottom: 5px;
    }
    .c-editor {
      input,
      .c-dropdown select {
        height: 45px;
        border: 1px solid $gray-300;
        background: rgba(255, 255, 255, 100);
      }
      textarea {
        height: 120px;
        border: 1px solid $gray-300;
      }
    }
  }
}
.c-button-section {
  display: flex;
  justify-content: center;
  .c-action {
    // TODO hover state when buttons are figured out
    button {
      display: inline-block;
      border: 3px solid $primary;
      padding: 10px 20px;
      font-weight: 700;
      margin-top: 15px;
      background-color: transparent;
      color: $primary;
      border-radius: 0px;
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}
.c-forms-confirmation {
  &.toggle-on {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .c-forms-confirmation-message {
    span {
      h1 {
        color: $primary !important;
      }
      p {
        font-size: 1.25rem;
        margin-bottom: 0px !important;
      }
    }
  }
}

@media (max-width: 990px) {
  #contactFlourish {
    &::before {
      display: none;
    }
  }
}
