body {
  font-size: 18px;
  line-height: 1.42rem;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  line-height: 1.5;
  @include transition();
}

h1,
.h1 {
  line-height: 1.35;
  font-weight: 700;
  font-size: 2.3rem;
  @include media-breakpoint-down(md) {
    font-size: 1.8rem;
  }
}

h2,
.h2 {
  line-height: 1.25;
  font-weight: 600;
  font-size: 1.875rem;
  @include media-breakpoint-down(md) {
    font-size: 1.25rem;
  }
}

h3,
.h3 {
  line-height: 1.25;
  font-weight: 700;
  font-size: 1.5rem;
  em {
    font-weight: 400;
    text-transform: capitalize;
  }
  @include media-breakpoint-down(md) {
    font-size: 1.2rem;
  }
}

h4,
.h4 {
  line-height: 1.25;
  font-weight: 700;
  font-size: 1.25rem;
  em {
    font-weight: 400;
    text-transform: capitalize;
  }
  @include media-breakpoint-down(md) {
    font-size: 1.1rem;
  }
}

em {
  font-style: italic;
}

i {
  letter-spacing: 0;
}

.lead {
  font-size: 1.85rem;
  line-height: 1.25;
  font-style: italic;
}

a {
  &:hover {
    color: $blue-400;
  }
}
