<div class="d-none d-lg-block">
<h1 class="h3 mb-n1">Community Groups</h1>
<ul class="devtool-nav mt-4">
  {% for group in page.groups %}
  <li class="nav-item">
    <a class="nav-link {% if page.url contains '/get-started/overview/' %} active {% endif %}" href="#{{ group.name | slugify }}">{{ group.name }}</a>
  </li>
  {% endfor %}

</ul>
</div>

<div class="accordion d-lg-none d-flex" id="accordionDev">
  <div class="accordion-item">
    <h2 class="accordion-header" id="devNavAccordion">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#devNavMobile" aria-expanded="true" aria-controls="devNavMobile">
        Community Groups
      </button>
    </h2>
    <div id="devNavMobile" class="accordion-collapse collapse " aria-labelledby="devNavAccordion" data-bs-parent="#accordionDev">
      <div class="accordion-body">
        <ul class="nav  flex-column">
          {% for group in page.groups %}
          <li class="nav-item">
            <a class="nav-link {% if page.url contains '/get-started/overview/' %} active {% endif %}" href="#{{ group.name | slugify }}">{{ group.name }}</a>
          </li>
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>
</div>