---
layout: default
title: Interledger News
banner_story: introducing-the-interledger-foundation
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-uppercase text-purple">Featured News</h1>
      </div>
    </div>
    <div class="row">
      {% if page.banner_story %}
      {% for object in page.banner_story %}
      {% assign featured = site.stories | where: 'slug', object | first %}
        <div class="col-12 d-none d-md-block">
          <div class="row my-4">
            <div class="col-12 col-md-6 col-lg-5">
              <img src="{% if featured.featured_image %}{{ featured.featured_image }}{% else %} /uploads/ilf-media-logos.png {% endif %}" class="img-fluid" alt="" />
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <p class="text-small mb-0 text-gray text-bold text-uppercase">{{ featured.date | date: " %b %-d, %Y" }}</p>
              <p class="mb-0 text-hero"><strong>{{ featured.name }}</strong></p>
              <p>{{ featured.write_up_html | truncatewords: 20 }}</p>
              {% if featured.news_category == "recent_coverage" %}
                <a href="{{ featured.link }}" target="_blank" class="mt-0 button button-outline">Read Article</a>
              {% endif %}
              {% if featured.news_category == "blog_post" %}
                <a href="{{ featured.url }}" class="mt-0 button button-outline">Read More</a>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 d-flex align-items-stretch d-block d-md-none">
          <div class="card p-0 border">
            <div class="card-header">
              <img src="{% if featured.featured_image %}{{ featured.featured_image }}{% else %} /uploads/ilf-media-logos.png {% endif %}" class="img-fluid" alt="" />
            </div>
            <div class="card-body">
              <p class="text-small mb-0 text-gray text-bold text-uppercase">{{ featured.date | date: " %b %-d, %Y" }}</p>
              <p class="mb-0"><strong>{{ featured.name }}</strong></p>
            </div>
            <div class="card-footer">
              {% if featured.news_category == "recent_coverage" %}
              <a href="{{ featured.link }}" target="_blank" class="mt-0 button button-outline">Read Article</a>
              {% endif %}
              {% if featured.news_category == "blog_post" %}
              <a href="{{ featured.url }}" class="mt-0 button button-outline">Read More</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
        {% for object in page.featured_stories %}
        {% assign featured = site.stories | where: 'slug', object | first %}
          <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 d-flex align-items-stretch">
            <div class="card p-0 border">
              <div class="card-body">
                <p class="text-small mb-0 text-gray text-bold text-uppercase">{{ featured.date | date: " %b %-d, %Y" }} {% if featured.publication %}
                — {{ featured.publication }}
                {% endif %}</p>

                <p class="mb-0"><strong>{{ featured.name }}</strong></p>
              </div>
              <div class="card-footer">
                {% if featured.news_category == "recent_coverage" %}
                <a href="{{ featured.link }}" target="_blank" class="mt-0 button button-outline">Read Article</a>
                {% endif %}
                {% if featured.news_category == "blog_post" %}
                <a href="{{ featured.url }}" class="mt-0 button button-outline">Read More</a>
                {% endif %}
              </div>
            </div>
          </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="bg-primary centered">
  <a class="py-5 text-white h3" href="" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign for the Interledger Mailing List</a>
</div>
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-uppercase mb-0">Recent Coverage</h2>
        <a href="recent-coverage/">See all Recent Coverage</a>
      </div>
    </div>
    <div class="row mt-3">
      {% assign recent-coverage = site.stories | where: "news_category", "recent_coverage" | sort: 'date' | reverse %}
      {% for article in recent-coverage limit: 4 %}
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 d-flex align-items-stretch">
        <div class="card p-0 border">
          <div class="card-body">
            <p class="text-small mb-0 text-gray text-bold text-uppercase">{{ article.date | date: " %b %-d, %Y" }} {% if article.publication %}
              — {{ article.publication }}
              {% endif %}</p>
            <p class="mb-0"><strong>{{ article.title }}</strong></p>
          </div>
          <div class="card-footer">
            <a href="{{ article.link }}" target="_blank" class="mt-0 button button-outline">Read Article</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section class="bg-mid">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-uppercase mb-0">Latest Blog & Updates</h2>
        <a href="latest-updates/">See all Updates</a>
      </div>
    </div>
    <div class="row mt-3">
      {% assign latest-updates = site.stories | where: "news_category", "blog_post" | sort: 'date' | reverse %}
      {% for article in latest-updates limit: 8 %}
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 d-flex align-items-stretch">
        <div class="card p-0 border">
          <div class="card-header">
            <div style="background-image: url({{ article.featured_image }})" class="news__image">
            </div>
          </div>
          <div class="card-body">
            <p class="text-small mb-0 text-gray text-bold text-uppercase">{{ article.date | date: " %b %-d, %Y" }}</p>
            <p class="mb-0"><strong>{{ article.title }}</strong></p>
          </div>
          <div class="card-footer">
            <a href="{{ article.url }}" class="mt-0 button button-outline">Read More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


  <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body d-flex justify-content-center">
          <button type="button" class="btn-close " data-bs-dismiss="modal" aria-label="Close"></button>
          <iframe src="https://app.e2ma.net/app2/audience/signup/1940649/1929074/" width="510" height="1200" frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
