# Site settings
title: Interledger
url: "https://interledger.org/"
permalink: pretty
highlighter: rouge

# Social sharing
description:
socialshare:
  featured_image: img/socialshare.jpg
  twitter:
    username:
    image:

# Google Analytics
analytics:
  default:

# Collections
collections:
  casestudies:
    output: true
    layout: case-studies
    permalink: /case-studies/:path/
  team_members:
    output: true
    layout: team
    permalink: /about-us/:path/
  stories:
    output: true
    layout: news
    permalink: /news/:path/


defaults:
  - scope:
      path: ""
    values:
      toc: true
  - scope:
      type: 'case-studies'
    values:
      layout: case-studies

_options:
  _block:
    format: p h1 h2 h3 h4 h5 h6 pre div
    bold: true
    italic: true
    superscript: true
    numberedlist: true
    bulletedlist: true
    link: true
    code: true
    image: true
    embed: true
    undo: true
    redo: true
  layout:
    hidden: true

# Build settings
safe: false
sass:
  # style: compressed
  sass_dir: _scss

include: ['interledger.pdf']

plugins:
  - jekyll-toc
  - jekyll-sitemap


# Spec Generation Config
page_gen-dirs: true # uncomment, if you prefer to generate named folders

page_gen:
  - data: 'specs'
    template: 'spec'
    name: 'name'

# page_gen:
#   - data: 'specs'
#     template: 'spec'
#     dir: 'specs'
#     index_files: true
#     name: 'name'
#     # name_expr: [a Ruby expression to generate the filename (alternative to name)]
#     title: 'name'
#     # title_expr: [a Ruby expression to generate the filename (alternative to title)]
#     # extension: [extension used to generate the filename]
#     # filter: [property to filter data records by]
#     # filter_condition: [a Ruby expression to filter data]

# TOC
toc:
  min_level: 2
  max_level: 2
  ordered_list: false
  no_toc_section_class: no_toc_section
  list_id: toc
  list_class: section-nav
  sublist_class: ''
  item_class: toc-entry
  item_prefix: toc-

exclude:
  - .jekyll-cache

news_categories:
  - recent_coverage
  - blog_post