---
layout: page
title: Our Work
_subnav:
  title: Our Work
  links:
    - label: Focus Areas
      url: '#focus-areas'
    - label: Impact
      url: '#impact'
---

{% include navigation/subnav.html %}

  <section class="fullwidth-img-section centered" id="focus-areas">
    <img class="img-fluid p-5 d-none d-md-flex" id="focusAreaIllustration" src="/img/our-work/our-work-illustration.svg" />
    <div class="container mt-5">
      <div class="row ">
        <div class="col-12 col-md-4   text-center text-md-start">
          <h1 class="text-pink editable">
            Focus Areas
          </h1>
          <p class="text-large || my-3 editable">
            Shaping a more equitable web that is open to all relies on prioritizing systems and ideals to work together to advance our collective society. The following are areas in which we are prioritizing our influence.
          </p>
        </div>
        <div class="col-12 d-md-none" id="ourWorkIllustrationMobile">
        </div>
      </div>
    </div>
  </section>

  <section class="p-md-2 pt-5 pb-0 p-md-5 bg-blue-fade fullwidth-img-section centered">
    <div id="financialInclusionIllustration">
      <img class="img-fluid p-5 d-none d-md-flex" src="/img/our-work/finacial-inclusion-illustration.svg" alt="" />
      <div class="animation-wrapper d-none d-md-flex">
        <div class="circle-animation" id="financialInclusionHoverOne"></div>
        <div class="circle-animation" id="financialInclusionHoverTwo"></div>
        <div class="cross-animation" id="financialInclusionHoverThree"></div>
      </div>
    </div>
    <div class="container h-100 centered">
      <div class="row justify-content-end">
        <div class="col-12 col-md-5   text-center text-md-start">
          <div class="editable">
            <h2>Financial Inclusion</h2>
            <p>Financial inclusion means that any individual has equal access to the same financial services and products that allow them to participate in making and receiving payments. This allows more people the opportunity to generate income, to save money, and to participate in their local economy. We are building equitable pathways to financial access, fueling inclusive growth across the world.</p>
          </div>
        </div>
        <div class="col-12 d-md-none" id="financialInclusionIllustrationMobile">
        </div>
      </div>
    </div>
  </section>

  <section class="p-2 pt-5 pb-0  p-md-5 bg-green-100 fullwidth-img-section centered">
    <div id="openPaymentsWrapper">
      <img class="img-fluid p-5 d-none d-md-flex" id="openPaymentsIllustration" src="/img/our-work/open-payments/center.svg" />
      <img class="img-fluid p-5 d-none d-md-flex" id="openPaymentsIllustration" src="/img/our-work/open-payments/inner-ring.svg" />
      <img class="img-fluid p-5 d-none d-md-flex" id="openPaymentsIllustration" src="/img/our-work/open-payments/outter-ring.svg" />
    </div>
    <div class="container h-100 centered">
      <div class="row ">
        <div class="col-12 col-md-5 text-center text-md-start">
          <div class="editable">
            <h2>Open Payments</h2>
            <p>We are creating a single open global payment network that connects everyone. Interledger provides an open, frictionless, and currency-agnostic method for transferring very small amounts of money, typically referred to as micropayments. This open network allows anyone to transfer money across currencies and ledgers, resulting in the potential rebalancing of our global payment systems.</p>
          </div>
        </div>
        <div class="col-12 d-md-none" id="openPaymentsIllustrationMobile">
        </div>
      </div>
    </div>
  </section>

  <section class="p-2  pt-5 pb-0  p-md-5  fullwidth-img-section centered">
      <img class="d-none d-md-flex" id="purpleCircle" src="/img/shapes/purple-circle-bg.svg" />
    <div id="webMonetizationIllustrationWrapper">
      <img class="img-fluid p-5  d-none d-md-flex" id="webMonetizationIllustration" src="/img/our-work/web-monetization-illustration.svg" alt="" />
      <div class="animation-wrapper d-none d-md-flex">
        <div class="circle-animation" id="webMonetizationHoverOne"></div>
        <div class="circle-animation" id="webMonetizationHoverTwo"></div>
        <div class="cross-animation" id="webMonetizationHoverThree"></div>
        <div class="circle-animation" id="webMonetizationHoverFour"></div>
        <div class="cross-animation" id="webMonetizationHoverFive"></div>
      </div>
    </div>

    <div class="container h-100 centered">
      <div class="row justify-content-end">
        <div class="col-12 col-md-5 text-center text-md-start">
          <div class="editable">
            <h2>Web Monetization</h2>
            <p >Web Monetization is a way of streaming small payments (micropayments) to creators for the content you read, watch, listen, and stream online. Web Monetization is an alternative revenue model for the Web, allowing creators to earn revenue from users without requiring subscriptions, third-party platforms, or reliance on advertising. All of this enables a faster, cleaner, and less invasive browsing experience.</p>
          </div>
        </div>
        <div class="col-12 d-md-none" id="webMonetizationIllustrationMobile">
        </div>
      </div>
    </div>
  </section>





  <section class="bg-primary" id="impact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-7 col-lg-5 text-white text-center ">
            <h1 class="text-uppercase editable">Impact</h1>
            <p class="text-large text-semi editable">We can make economic interaction as easy as information exchange.</p>
        </div>
      </div>
      <div class="row text-white mt-5">
        <div class="col-12 col-lg-3  text-center text-lg-start mb-3">
          <p class="text-large editable">
            <strong>In 2020,</strong><br />Grant for the Web supported Interledger technology with
          </p>
        </div>
        <div class="col-12 col-md-4 col-lg-3 text-center text-uppercase  mb-4">
          <img src="/img/our-work/icon-funds.svg" class="img-fluid impact-icon pb-3 editable" alt="" />
          <div class="editable">
            <p><strong>
                $8,000,000
              </strong>
              <br /> IN GRANT FUNDS
            </p>
          </div>


        </div>
        <div class="col-12 col-md-4 col-lg-3 text-center text-uppercase mb-4">
          <img class="img-fluid impact-icon pb-3 editable " alt="" src="/img/our-work/icon-countries.svg" />
          <div class="editable">
          <p>
            GRANTEES FROM <br />
            <strong>27 COUNTRIES</strong>
          </p>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 text-center text-uppercase ">
          <img class="img-fluid impact-icon pb-3  editable" alt="" src="/img/our-work/icon-projects.svg" />
          <div class="editable">
          <p><strong>
              115
            </strong>
            <br /> FUNDED PROJECTS
          </p>
          </div>
        </div>
      </div>
      <div class="row mt-5 centered">
        <div class="col-12  text-center  " id="gftwButton">
          <img src="/img/our-work/GFW-LOGO-WHT.svg" class="pe-md-3 mb-3 mb-md-0" id="gftwLogo" alt="Grant for the web logo" />
          <a href="https://www.grantfortheweb.org/" target="_blank" class="h2 text-underline-white text-bold text-white editable ">Learn More About Grant for the Web</a>

        </div>
      </div>
    </div>
  </section>
<section class="bg-blue-100">
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-12 position-relative">
        <glider-exanded-carousel>
          <div class="gliderExpanded">
            {% for casestudy in site.casestudies %}
            <div data-cms-editor-link="cloudcannon:collections/{{ post.path }}" class="cms-editor-link">
            <div class="card justify-content-between">
              <div class="work-carousel-img" style="background-image: url({{ casestudy.featured_image }});"></div>
              <p class="mt-4">{{ casestudy.featured_text }}</p>
              <div class="text-center d-flex flex-column align-items-center ">
                <a href="{{ casestudy.url }}" class="button button-outline">Learn More</a>
              </div>
            </div>
            </div>
            {% endfor %}
          </div>
          <button aria-label="Previous" class="glider-prev"></button>
          <button aria-label="Next" class="glider-next"></button>
          <div role="tablist" class="pt-4" id="greenDots"></div>
        </glider-exanded-carousel>
      </div>
    </div>
  </div>
</section>
